.makeStyles-paper-1
{
 background-color: white;
  width:50%;
 
  height: 650px !important;
border-radius: 10px;
z-index: 10;

justify-content: space-evenly;


}
#transition-modal-description
{
  color: black;
}
#story-form-title
{
  color:balck#fafafa !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
text-align: center;
}

.story-post
{
  margin: 30px !important;
 
}
.modal-body
{
  position: absolute;
  bottom: 34%;
}