.navbar-body
{
  display: flex;

  margin-top: 10px;
  background-color: white;
  width: 99.1%;
  height: 33px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(29, 29, 29, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0;
}


.MuiSvgIcon-root
{
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 2px;
margin-top: 2px;
}
.help-icon
{
  background-color: white;
  padding: 0px;
}

.text-option
{
  display: flex;
  flex: 0.98;
}
 .nav-txt {
 position: relative;
 bottom: 17%;
 
 color: #555252;
margin-left: 4px;
margin-right: 4px;
font-size: 0.9rem;
margin-top: 1px;
}
.dashboard-txt
{
  font-weight: 550;
  color: black  ;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 3px;
}